/Lab7/myWeb1/nbproject/private/
/Lab7/myWeb1/build/
/Lab7/myWeb1/dist/
/Lab7/Login/nbproject/private/
/Lab7/Login/build/
/Lab9/nbproject/private/
/Lab9/build/
/Lab10/JavaBean/nbproject/private/
/Lab10/JavaBean/build/
/Lab10/JavaApplication17/nbproject/private/
/Lab10/JavaApplication17/build/